@model Preparation.WebUI.Models.MedicamentViewModel

<div class="form-group">
    <input type="text" class="form-control" name="@Model.Producer" />
</div>
<input type="submit" value="Отправить" class="btn btn-default" />
