@model Preparation.Domain.Entities.Medicament

<div class="well">
    <h3>
        <a href="@Url.Action("ViewResult","Preparation",new{id = Model.ID})"><strong>@Model.Name</strong></a>
    </h3>
    <span class="lead">@Model.Anotation</span>
</div>